<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Music Collage Maker</title>
</head>
<body>
  <h1>Welcome to the Spotify Music Collage Maker!</h1>
  <a href="/login">Login with Spotify</a>
</body>
</html>
