<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Collage Maker</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Spotify Music Collage Maker</h1>
      <p>
        Make your own music collage to show off what you've been listening to!
      </p>
      <a href="/login" class="login-button">Login with Spotify</a>
    </div>
  </body>
</html>
