<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recommended Artists</title>
</head>
<body>
  <h1>Recommended Artists</h1>
  <ul>
    <% recommendations.forEach(artist => { %>
      <li><%= artist %></li>
    <% }) %>
  </ul>
  <a href="/">Go Back</a>
</body>
</html>
