<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Generated Collage</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <img src="<%= collagePath %>" alt="Generated Chart">
  </div>
</body>
</html>
